/* Carousel Styles */
.carousel-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  flex: 0 0 100%;
  scroll-snap-align: start;
  padding: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.left {
  left: 0.5rem;
}

.carousel-button.right {
  right: 0.5rem;
}

.flip-clock-container {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: auto;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.flip-clock-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flip-clock-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  width: 45px; /* Fixed width */
  text-align: center;
  margin: 0 0.25rem;
  background-color: #343a40;
}

.flip-clock-label {
  font-size: 0.6rem;
  color: #D3D3D3;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.flip-clock-value {
  font-size: 0.75rem;
  font-weight: 600;
  color: #FFFFFF;
}

.dark-bg {
  background-color: #343a40;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0 0.25rem;
}

.green-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.coupon-list-container {
  margin-top: 20px;
}

.coupon-list {
  list-style: none;
  padding: 0;
}

.coupon-list-item {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.coupon-discount {
  color: orange;
  font-weight: bold;
  font-size: 1.3em;
}

.edit-button {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.delete-button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.go-to-website-button {
  color: cyan;
  cursor: pointer;
}

.coupon-image {
  width:500px; /* Adjust this value as needed */
  height:500px;
}

/* Mobile Timer Styles */
.mobile-timer-item {
  padding: 0.1rem;
}

.mobile-timer-label {
  font-size: 0.5rem;
}

.mobile-timer-value {
  font-size: 0.7rem;
}
